<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <!-- <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet"> -->
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/prismjs/themes/prism.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta charset="UTF-8">
</head>
<body>
  <div id="app">
    <v-app>
      <v-app-bar app dark>
        <v-toolbar-title>{{ toolbarTitle }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <div class="text-center">
            <v-menu offset-y>
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark v-on="on"> {{ activeLabel.name }} </v-btn>
              </template>
              <v-list>
                <v-list-item v-for="(label, index) in labels" :key="index" @click="activeLabel=label">
                  <v-list-item-title>{{ label.name }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
        </div>
        <v-spacer></v-spacer>
        <v-btn v-for="link in links" :key="link.name" color="white" @click="link.dialog=!link.dialog" text rounded class="my-2">{{ link.name }}</v-btn>
      </v-app-bar>
      <v-content>
        <v-container fluid>
          <v-row>
            <v-dialog v-model="links[0].dialog" persistent full-page>
              <v-card min-height="500" min-width="400">
                <v-card-title class="headline">账户<v-spacer></v-spacer>
                  <v-btn color="red lighten-1" text @click="funcUpdateAccountInfo">刷新</v-btn>
                  <v-btn color="red lighten-1" text @click="links[0].dialog = false">关闭</v-btn>
                </v-card-title>
                <v-container>
                  <v-row>
                    <v-tabs v-model="accountTabs">
                      <v-tab v-for="(value, name) in accountInfo" :key="name">{{ name }}</v-tab>
                    </v-tabs>
                  </v-row>
                  <v-row>
                      <v-tabs-items v-model="accountTabs">
                          <v-tab-item v-for="(value,name) in accountInfo" :key="name">
                              <prism-component language="javascript">
{{value}}</prism-component>
                          </v-tab-item>
                        </v-tabs-items>
                      </v-tabs-items>
                  </v-row>
                </v-container>
              </v-card>
            </v-dialog>
            <v-dialog v-model="links[1].dialog" persistent full-page>
              <v-card min-height="500" min-width="400">
                <v-card-title class="headline">浏览器<v-spacer></v-spacer><v-btn color="red lighten-1" text @click="links[1].dialog = false">关闭</v-btn></v-card-title>
                <v-timeline dense>
                  <v-timeline-item v-for="block of blocks" :key="block.id">
                      <v-card>
                      <v-card-title class="purple lighten-2" @click="block.blockDetail=!block.blockDetail">
                          <h4 class="white--text font-weight-light">{{ block.id }}</h4>
                      </v-card-title>
                      <v-container>
                        <v-treeview :items="[block]" item-children="transactions"></v-treeview>
                        <prism-component v-show="block.blockDetail" language="javascript">{{ block.block }}</prism-component>
                      </v-container>
                    </v-card>
                  </v-timeline-item>
                </v-timeline>
              </v-card>
            </v-dialog>
            <v-dialog v-model="links[2].dialog" persistent full-page>
              <v-card min-height="500" min-width="400">
                 <v-card-title class="headline">设置<v-spacer></v-spacer><v-btn color="red darken-1" text @click="links[2].dialog = false">关闭</v-btn></v-card-title>
                 <v-toolbar dense dark><v-app-bar-nav-icon></v-app-bar-nav-icon></v-toolbar>
                 <v-container>
                    <v-row>
                      <v-col cols="6" md="4">钱包地址</v-col>
                      <v-col cols="6" md="8">{{ walletAddress }}</v-col>
                      <v-col cols="6" md="4">钱包密钥</v-col>
                      <v-col cols="6" md="8" class="pb-4"><v-text-field label="secret" append-icon="visibility" v-model="walletSecret"></v-text-field></v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="6" md="4">测试链</v-col>
                      <v-col cols="6" md="8"  class="pb-4"><v-switch v-model="testChain" readonly></v-switch></v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="6" md="4">更新间隔</v-col>
                      <v-col cols="6" md="8" class="pr-4">
                        <v-slider v-model="updateInterval" class="align-center" max="20" min="5" hide-details>
                          <template v-slot:append>
                            <v-text-field v-model="updateInterval" class="mt-0 pt-0" hide-details single-line type="number" style="width: 60px"></v-text-field>
                          </template>
                        </v-slider>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="6" md="4">最多区块</v-col>
                      <v-col cols="6" md="8" class="pr-4">
                        <v-slider v-model="maxBlocks" class="align-center" max="100" min="5" hide-details>
                          <template v-slot:append>
                            <v-text-field v-model="maxBlocks" class="mt-0 pt-0" hide-details single-line type="number" style="width: 60px"></v-text-field>
                          </template>
                        </v-slider>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="12" md="6" class="font-weight-medium">
                        <v-textarea outlined auto-grow row-height="32" name="evalString" label="修改代码" v-model="evalString" class="mt-2"></v-textarea>
                      </v-col>
                      <v-col cols="12" md="6">
                        <prism-component language="javascript" :code="evalString"></prism-component>
                      </v-col>
                    </v-row>
                 </v-container>
                 <v-card-actions>
                   <v-spacer></v-spacer>
                   <v-btn color="green darken-1" text @click="funcEval(evalString)">运行代码</v-btn>
                 </v-card-actions>
              </v-card>
            </v-dialog>
          </v-row>
          <v-row>
            <v-col v-for="key in computedCardKeys" :key="key" cols="12" md="6" lg="4" xl="3">
              <v-card :height="cardHeight" outlined tile :raised="cards[key].raised" @click="funcCardRaise(key)">
                <v-card-title>
                  <h2>{{ key }}</h1>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text>{{ cards[key].content }}</v-card-text>
                <prism-component language="javascript" :code="cards[key].code"></prism-component>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-function-api/dist/vue-function-api.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://unpkg.com/vue-prism-component@1.1.1/dist/vue-prism-component.js"></script>
  <script src="https://unpkg.com/swtc-lib"></script>
  <script src="https://unpkg.com/swtc-api"></script>
  <script src="https://unpkg.com/prismjs"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>
    Vue.use(vueFunctionApi.plugin)
    const Remote = swtc_api.Remote
    const Wallet = Remote.Wallet
    const vm = new Vue({
      el: '#app',
      vuetify: new Vuetify({icons: {iconfont: 'fa'}}),
      components: { PrismComponent },
      setup() {
        const dialog = vueFunctionApi.value(false)
        const testChain = vueFunctionApi.value(localStorage.testChain || true)
        const ledger = vueFunctionApi.value(0)
        const started = vueFunctionApi.value(false)
        const interval = vueFunctionApi.value(null)
        const updateInterval = vueFunctionApi.value(10)
        const evalString = vueFunctionApi.value('// node.js需要导入库 swtc_lib = require("swtc-lib")')
        const testIssuer = vueFunctionApi.value(localStorage.testIssuer || 'jBciDE8Q3uJjf111VeiUNM775AMKHEbBLS')
        const walletSecret = vueFunctionApi.value(localStorage.walletSecret || '')
        const walletAddress = vueFunctionApi.value(localStorage.walletAddress || '')
        const accountInfo = vueFunctionApi.value({info: {loading: true}, balances: {loading: true}, txs: {loading: true}})
        const accountTabs = vueFunctionApi.value('balances')
        const cardHeight = vueFunctionApi.value(localStorage.cardHeight || 300)
        const libServer = vueFunctionApi.value(localStorage.libServer || 'ws://ts5.jingtum.com:5020')
        const apiServer = vueFunctionApi.value(localStorage.apiServer || 'https://tapi.jingtum.com')
        const toolbarTitle = vueFunctionApi.value('SWTCLIB 教程')
        const labels = vueFunctionApi.value([ {id: 'base', name: '基础知识'}, {id: 'read', name: '查询信息'}, {id: 'write', name: '制造信息'}, {id: 'advanced', name: '进阶知识'}, {id: 'supplemental', name: '辅助知识'}, {id: 'unique', name: '独  有'}, {id: 'all', name: '所  有'} ])
        const activeLabel = vueFunctionApi.value({id: 'all', name: '所  有'})
        const links = vueFunctionApi.value([ {id: 'account', name: '账户', dialog: false}, {id: 'browser', name: '浏览器', dialog: false}, {id: 'settings', name: '设置', dialog: false} ])
        const blocks = vueFunctionApi.value([])
        const maxBlocks = vueFunctionApi.value(10)
        const funcUpdateAccountInfo = async () => {
            let remote = computedApiRemote.value
            remote.getAccountBalances(walletAddress.value).then(result => accountInfo.value.balances = result).catch(error => accountInfo.value.balances = {error: '未激活'})
            remote.getAccountTransactions(walletAddress.value).then(result => accountInfo.value.txs = result).catch(error => accountInfo.value.balances = {error: '未激活'})
          }
        const funcEval = (string) => {
          string = `try {
${string}
} catch (error) {
  console.log(error)
  alert('运行出错了，修改检查')
}
`
          eval(string)
        }
        const funcSetInterval = () => {
            let remote = computedApiRemote.value
            interval.value = setInterval(async () => {
                if (started.value) {
                  try {
                    let block = await remote.getLedger(ledger.value + 1)
                    if (block.closed) {
                      ledger.value = ledger.value + 1
                      if (!blocks.value.find(e => e.id === block.ledger_index)) {
                        blocks.value.unshift({id: block.ledger_index, name: block.ledger_hash, blockDetail: false, transactions: block.transactions.map( (e,i) => ({id: i, name: e})), block})
                        blocks.value.splice(maxBlocks.value)
                      }
                    } else {
                      console.log(`...ledger ${ledger.value + 1} not closed yet`)
                    }
                  } catch (error) {
                    console.log(error)
                    console.log('wait for next')
                  }
                } else {
                  console.log('not started yet')
                }
              }, updateInterval.value * 1000)
        }
        const funcClearInterval = () => {
          if (interval.value) {
            clearInterval(interval.value)
          }
        }
        const funcCardRaise = (key) => {
            computedCardKeys.value.forEach(
              e => e === key ? (cards.value)[e].raised = true : (cards.value)[e].raised = false
            )
          }
        const funcMarked = (text) => marked(text)
        vueFunctionApi.watch( walletSecret, (value, oldValue) => { if (Wallet.isValidSecret(value)) { localStorage.walletSecret = walletSecret.value; walletAddress.value = Wallet.fromSecret(value).address; localStorage.walletAddress = walletAddress.value }}, {lazy: true})
        vueFunctionApi.watch(testChain, (value, oldValue) => {
            console.log(`detected change from ${oldValue} to ${value}` )
            funcClearInterval()
            funcSetInterval()
          }, {lazy: true})
        const computedCardKeys = vueFunctionApi.computed(() => Object.keys(cards.value))
        vueFunctionApi.onCreated(async () => {
            console.log("...vue created")
            if (!walletSecret.value || !Wallet.isValidSecret(walletSecret.value)) {
              // generate a wallet
              let wallet = Wallet.generate()
              walletSecret.value = wallet.secret
              walletAddress.value = wallet.address
              localStorage.walletSecret = walletSecret
              localStorage.walletAddress = walletAddress
            }
            if (testChain) {
              evalString.value += `\nlet remote = new swtc_lib.Remote(
    {
      server: "${libServer.value}",
      // issuer: "${testIssuer.value}"
    }
  )
`
            } else {
              evalString.value += `\nlet remote = new swtc_lib.Remote()`
            }
            evalString.value += `\nconsole.log(remote.config())`
            let remote = computedApiRemote.value
            if (Wallet.isValidSecret(walletSecret.value)) {
              walletAddress.value = Wallet.fromSecret(walletSecret.value).address
              localStorage.walletAddress = walletAddress.value
            } else {
              walletAddress.value = 'secret incorrect 密钥错误'
              localStorage.walletAddress = walletAddress.value
              localStorage.walletSecret = ''
            }
            try {
              let block = await remote.getLedger()
              ledger.value = block.ledger_index
              started.value = true
              console.log('block explorer initiated')
              block = await remote.getLedger(ledger.value)
              
              blocks.value.unshift({id: block.ledger_index, name: block.ledger_hash, blockDetail: true, transactions: block.transactions.map( (e,i) => ({id: i, name: e})), block})
            } catch (error) {
              console.log(error)
            }
          })
        vueFunctionApi.onMounted(() => { console.log("...vue mounted"); funcInitCards(); funcSetInterval() })
        const computedRemoteOption = vueFunctionApi.computed(() => {
            return testChain.value ? {server: 'ws://ts5.jingtum.com:5020', issuer: testIssuer.value} : {}
          })
        const computedApiRemoteOption = vueFunctionApi.computed(() => {
            testChain.value ? {server: 'https://tapi.jingtum.com', issuer: testIssuer.value} : {}
          })
        const computedRemote = vueFunctionApi.computed(() => {
            let r
            if (testChain.value) {
              r = new (swtc_lib.Remote)({server: 'ws://ts5.jingtum.com:5020', issuer: testIssuer.value})
            } else if (libServer.value) {
              r = new (swtc_lib.Remote)({server: libServer.value})
            } else {
              r = new (swtc_lib.Remote)()
            }
            return r
          })
        const computedApiRemote = vueFunctionApi.computed(() => {
            let r
            if (testChain.value) {
              r = new (swtc_api.Remote)({server: 'https://tapi.jingtum.com', issuer: testIssuer.value})
            } else if (apiServer.value) {
              r = new (swtc_api.Remote)({server: apiServer.value})
            } else {
              r = new (swtc_api.Remote)()
            }
            return r
          })
        const funcInitCards = () => {
            computedCardKeys.value.forEach(key => {
              console.log(`processing card for ${key}`)
              cards.value[key].code = `
// node.js 环境需要导入库 swtc_lib = require("swtc-lib")

let remote = new swtc_lib.Remote({server: "${libServer.value}"})
remote.connectPromise()
  .then(async (result) => {
      console.log(result)
      // 试验场所
      // let result = await remote.${key}().submitPromise()
      // console.log(result)
      remote.${key}().submitPromise().then(console.log)
      remote.disconnect()
    })
  .catch((error) => console.error(error))
`
            })
          }
        const cards = vueFunctionApi.value({
          prepare: {
            title: '预备工作',
            content: '为学习准备工作',
            code: '',
            raised: false,
          },
          requestServerInfo: {
            title: '查询服务器信息',
            content: '查询服务器信息',
            code: '',
            raised: false
          },
          requestLedgerClosed: {
            title: '查询最新关闭的区块',
            content: '查询最新关闭的区块',
            code: '',
            raised: false
          },
          requestLedger: {
            title: '查询区块',
            content: '查询区块',
            code: '',
            raised: false
          },
          requestTx: {
            title: '查询交易信息',
            content: '查询交易信息',
            code: '',
            raised: false
          },
          requestPeers: {
            title: '查询对接服务器',
            content: '查询对接服务器',
            code: '',
            raised: false
          },
          requestPathFind: {
            title: '查询路径撮合',
            content: '查询路径撮合',
            code: '',
            raised: false
          },
          requestAccountInfo: {
            title: '查询账户信息',
            content: '查询账户信息',
            code: '',
            raised: false
          },
          requestAccountOffers: {
            title: '查询账户挂单',
            content: '查询账户挂单',
            code: '',
            raised: false
          },
          requestAccountTx: {
            title: '查询账户记录',
            content: '查询账户记录',
            code: '',
            raised: false
          },
          requestOrderBook: {
            title: '查询挂单列表',
            content: '查询挂单列表',
            code: '',
            raised: false
          },
          requestAccountTums: {
            title: '查询账户通证',
            content: '查询账户通证',
            code: '',
            raised: false
          },
          requestAccountOffers: {
            title: '查询账户关系',
            content: '查询账户关系',
            code: '',
            raised: false
          },
          buildAccountSetTx: {
            title: '创建账户关系交易',
            content: '创建账户关系交易',
            code: '',
            raised: false
          },
          buildBrokerageTx: {
            title: '创建代理商交易',
            content: '创建代理商交易',
            code: '',
            raised: false
          },
          buildContractCallTx: {
            title: '创建执行LUA合约交易',
            content: '创建执行LUA合约交易',
            code: '',
            raised: false
          },
          buildContractDeployTx: {
            title: '创建部署LUA合约交易',
            content: '创建部署LUA合约交易',
            code: '',
            raised: false
          },
          buildContractInitTx: {
            title: '创建部署SOLIDITY合约交易',
            content: '创建部署SOLIDITY合约交易',
            code: '',
            raised: false
          },
          buildContractInvokeTx: {
            title: '创建执行SOLIDITY合约交易',
            content: '创建执行SOLIDITY合约交易',
            code: '',
            raised: false
          },
          buildOfferCancelTx: {
            title: '创建取消挂单交易',
            content: '创建取消挂单交易',
            code: '',
            raised: false
          },
          buildOfferCreateTx: {
            title: '创建提交挂单交易',
            content: '创建提交挂单交易',
            code: '',
            raised: false
          },
          buildPaymentTx: {
            title: '创建支付交易',
            content: '创建支付交易',
            code: '',
            raised: false
          },
          buildRelationTx: {
            title: '创建关系交易',
            content: '创建关系交易',
            code: '',
            raised: false
          },
          buildSignTx: {
            title: '创建签名交易',
            content: '创建签名交易',
            code: '',
            raised: false
          }
        })
        const model = vueFunctionApi.value('tab-2')
        const text = vueFunctionApi.value('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')
        return {
          model,
          text,
          dialog,
          walletSecret,
          walletAddress,
          accountInfo,
          accountTabs,
          cardHeight,
          testChain,
          libServer,
          apiServer,
          labels,
          activeLabel,
          links,
          interval,
          evalString,
          ledger,
          started,
          blocks,
          maxBlocks,
          updateInterval,
          toolbarTitle,
          cards,
          computedCardKeys,
          computedRemoteOption,
          computedApiRemoteOption,
          computedRemote,
          computedApiRemote,
          funcCardRaise,
          funcMarked,
          funcInitCards,
          funcEval,
          funcSetInterval,
          funcClearInterval,
          funcUpdateAccountInfo
        }
      }
    })
    if (window) { window.vm = vm}
  </script>
</body>
</html>
